[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
        #url = https://github.com/gmarik/Vundle.vim.git
        #url = https://git.schuerz.at/public/Vim/Vundle.vim.git
	url = git://git.schuerz.at:Vim/Vundle.vim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
        #url = https://github.com/tmux-plugins/tpm
        #url = https://git.schuerz.at/public/tmux-plugins/tpm.git
	url = https://git.schuerz.at:tmux-plugins/tpm.git
[submodule "tmux/tmux-themepack"]
	path = tmux/tmux-themepack
        #url =  https://github.com/jimeh/tmux-themepack.git
        #url = https://git.schuerz.at/public/tmux-plugins/tmux-themepack.git
	url = https://git.schuerz.at:tmux-plugins/tmux-themepack.git
